<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51295bd71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/colors.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>Your annoucements</title>
</head>
<body>
    <div class="base-container">
        <aside>
            <div class="user-profile">
                <img src="../img/blank-profile-picture.svg">
                <h2> Name Surname </h2>
            </div>
            
            <h3>Twoje ogłoszenia:</h3>

            <div class="annoucement" id="ann1">
                <img>
                <h4>title</h4>
                <p><i class="fas fa-map-marker-alt"></i> location name</p>
                <h4>Zaiteresowani:</h4>
            </div>
        </aside>
        <main>
            <h2>TO-DO: add annoucemnet edit view</h2>
        </main>
        <nav>
            <div class="main-buttons">
                <button>
                    <i class="fas fa-map-marked-alt"></i>
                </button>
                <button>
                    <i class="fas fa-comments"></i>
                </button>
                <button id="active-tab">
                    <i class="fas fa-clipboard-list" id="active-tab"></i>
                </button>
            </div>
            <button>
                <i class="fas fa-cog"></i>
            </button>
        </nav>
    </div>
</body>
</html>