<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51295bd71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/colors.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/common-mobile.css">
    <link rel="stylesheet" type="text/css" href="../css/chats.css">
    <title>DASHBOARD</title>
</head>
<body>
    <div class="base-container">
        <aside>
            

            <div class="person">
                <div class="user-profile">
                    <img src="../img/blank-profile-picture.svg">
                    <h2> Name Surname </h2>
                </div>
                
                <h3>Ogłoszenia użytkownika:</h3>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
            </div>

            <div class="person active-person">
                <div class="user-profile">
                    <img src="../img/blank-profile-picture.svg">
                    <h2> Name Surname </h2>
                </div>
                
                <h3>Ogłoszenia użytkownika:</h3>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
            </div>

            <div class="person">
                <div class="user-profile">
                    <img src="../img/blank-profile-picture.svg">
                    <h2> Name Surname </h2>
                </div>
                
                <h3>Ogłoszenia użytkownika:</h3>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
            </div>

            <div class="person">
                <div class="user-profile">
                    <img src="../img/blank-profile-picture.svg">
                    <h2> Name Surname </h2>
                </div>
                
                <h3>Ogłoszenia użytkownika:</h3>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
            </div>

            <div class="person">
                <div class="user-profile">
                    <img src="../img/blank-profile-picture.svg">
                    <h2> Name Surname </h2>
                </div>
                
                <h3>Ogłoszenia użytkownika:</h3>
                <div class="user-ann">
                    <img src="../img/he.png">
                    <h4>title</h4>
                </div>
            </div>

            
        </aside>
        <main>
            <div> 
                <input type="text">
                <button>
                    <i class="fas fa-arrow-right"></i>
                </button>

            </div>
        </main>
        <nav>
            <div class="main-buttons">
                <button id="active-tab">
                    <i class="fas fa-map-marked-alt" id="active-tab"></i>
                </button>
                <button>
                    <i class="fas fa-comments"></i>
                </button>
                <button>
                    <i class="fas fa-clipboard-list"></i>
                </button>
            </div>
            <button>
                <i class="fas fa-cog"></i>
            </button>
        </nav>
    </div>
</body>
</html>