<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51295bd71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/colors.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>DASHBOARD</title>
</head>
<body>
    <div class="base-container">
        <main>a</main>
        <nav>
            <button id="active-tab">
                <i class="fas fa-map-marked-alt" id="active-tab"></i>
            </button>
            <button>
                <i class="fas fa-comments"></i>
            </button>
            <button>
                <i class="fas fa-clipboard-list"></i>
            </button>
            
            
            
        </nav>
    </div>
</body>
</html>