<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Places - Log In</title>
    <link rel="stylesheet" type="text/css" href="public/css/colors.css">
    <link rel="stylesheet" type="text/css" href="public/css/login.css">
    <link rel="stylesheet" type="text/css" href="public/css/login-mobile.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="public/img/logo1_nobg.png">
        </div>

        <div class="login-div">
            <form>
                <h1>Log in</h1>
                <!-- <label class="standard-text">login</label> -->
                <input class="standard-input" type="text" placeholder="login or email">
                <!-- <label class="standard-text">hasło</label> -->
                <input class="standard-input" type="password" placeholder="password">
                <button class="button-22" role="button">log in</button>
                <a href="./regain_password">I forgot password.</a>
                <hr></hr>
                <a href="./register">Don't have account yet? Sign in here!</a>
            </form>
        </div>
    </div>
</body>