<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" type="text/css" href="../css/colors.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1> LOGO </h1>
        </div>
        
        <div class="login-div">
            <form>
                <h1>Logowanie</h1>
                <label class="standard-text">login</label>
                <input class="standard-input" type="text" placeholder="">
                <label class="standard-text">hasło</label>
                <input class="standard-input" type="password" placeholder="">
                <button class="button-22" role="button">Zaloguj</button>
                <a href="https://youtu.be/dQw4w9WgXcQ?t=0" class="register-link">Nie masz konta? Zarejestruj się.</a>
            </form>
        </div>
    </div>
</body>
</html>