<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51295bd71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/colors.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/common-mobile.css">
    <link rel="stylesheet" type="text/css" href="../css/options.css">
    <link rel="stylesheet" type="text/css" href="../css/options-mobile.css">
    <title>Little Places - Your Annoucements</title>
</head>
<body>
    <div class="base-container">
        <aside>
            <span class="user-profile">
                <img src="../img/blank-profile-picture.svg">
                <h2> Name Surname </h2>
            </span>
            <hr>
            <button>
                <i class="fas fa-sign-out-alt" style="transform: scaleX(-1);"></i>
                <p>log out</p>
            </button>
            <hr>
            TO-DO: option categories
        </aside>

        
        
        <main>
            TO-DO: options
            
        </main>


        <nav>
            <div class="main-buttons">
                <button>
                    <i class="fas fa-map-marked-alt"></i>
                </button>
                <button>
                    <i class="fas fa-comments"></i>
                </button>
                <button>
                    <i class="fas fa-clipboard-list"></i>
                </button>
            </div>
            <button id="active-tab">
                <i class="fas fa-cog" id="active-tab"></i>
            </button>
        </nav>
    </div>
</body>
</html>