aside button{
    border-radius: 2em;

    margin: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;

    /* appearance (text) */
    text-align: center;
    text-transform: none;
    font: normal normal normal 1.2em Gill Sans Nova;
    letter-spacing: 0px;

    /* overflow handling */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: unset;

    /* appearance (button) */
    background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
    appearance: button;
    border-style: none;
    cursor: pointer;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

aside button{
    color: var(--button-text);
}

aside button:hover{
    background-color: var(--input-bg);
}

hr{
    margin: 0 1em;
    height: 1.5px;
    border: none;
    background-color: var(--default-text);
}