@media screen and (max-width: 635px)
{
    aside{
        display: none; /* set in script */
        width: 100vw;
    }

    main{
        /* display: none; */ /* set in script */
    }

    header button:first-child{
        display: flex;
    }

    .input-line{
        /* appearance */
        height: 4em;
    }

    .input-line>input{
        height: 4rem;
    }

    .input-line>button{
        height: 4rem;
        width: 4rem;
    }
}