@media screen and (max-width: 635px)
{
    aside{
        width: 100vw;
    }

    header button:first-child{
        display: flex;
    }

    .input-line{
        /* appearance */
        height: 4em;
        min-height: 4rem;
    }

    .input-line>textarea{
        height: 4rem;
        min-height: 4rem;
    }

    .input-line>button{
        height: 4rem;
        width: 4rem;
        min-height: 4rem;
        min-width: 4rem;
    }
}