:root {

    /* Colors: */
    --basic: #8CE366; /* not used yet */
    --defalut-text: #3B9913;
    --alt-input-bg: #BFFFC2; /* not used yet */
    --button-text: #296B0E;
    --border: #04B30C;
    --input-bg: #EBFEE0;
    --form-background: #FFFFFF;
    --main-bg-color: rgb(0, 90, 0); /* not used yet */
}