body
{
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{

    margin: 0em;
}

button{
    border: 0;
}

.base-container
{
    height: 100vh;
    width: 100vw;

    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: var(--default-text); /* default text color */
}

nav
{
    /* appearance */
    width: 5em;
    height: 100vh;
    background: var(--basic) 0% 0% no-repeat padding-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-buttons
{
    display: flex;
    flex-direction: column;
}

nav button
{
    /* appearance */
    width: 5rem;
    height: 5rem;
    background-color: rgba(0,0,0,0);
    border-radius: 0 1vw 1vw 0;

    appearance: button;
    border-style: none;
    cursor: pointer;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

nav button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#active-tab
{
    background-color: var(--input-bg);
    color: var(--basic);
}

nav i
{
    color: var(--button-icon);
    font-size: 3rem;
}

main, .main
{
    /* appearance */
    height: 100vh;
    flex-basis: 70%;
    flex-shrink: 1000;
    flex-grow: 1;
    box-sizing: border-box;
    background: var(--input-bg) 0% 0% no-repeat padding-box;
    opacity: 1;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
}

aside
{
    /* appearance */
    height: 100vh;
    flex-basis: 30%;
    flex-shrink: 1;
    flex-grow: 1000;
    background: var(--basic) 0% 0% no-repeat padding-box;
    box-sizing: border-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    overflow: auto;
}

/* User mini profile in announcements and options views */

.user-profile
{
    /* appearance */
    height: 3em;
    margin: 1em;
    margin-bottom: 0;
    
    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.user-profile>img
{
    /* appearance */
    border-radius: 50%;
    height: 3em;
    width: 3em;
    object-fit: cover;
}

.user-profile>h2
{
    /* appearnace */
    color: var(--default-text);
    text-align: left;
    font: normal normal bold 1.5em Gill Sans Nova;
    letter-spacing: 0px;

    /* overflow handling */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* OPTIONS ABOVE OR BELOW EDIT BOX */

header{
    /* appearance */
    /*height: 2.5em;*/
    flex-grow: 5;
    box-sizing: border-box;
    background: var(--alt-input-bg) 0% 0% no-repeat padding-box;
    padding: 0;

    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

header button{
    /* appearance */
    color: var(--button-text);
    background-color: rgba(0,0,0,0);
    text-align: left;
    font: normal normal normal 24px/42px Gill Sans Nova;
    letter-spacing: 0px;
    border-right: 1px ridge var(--button-text);
    width:auto;

    appearance: button;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    cursor: pointer;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    /* size */
    height: 2.5rem;
    min-width: auto;

    /* content positioning */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0 0.5em;
}

header button:hover{
    background-color: var(--form-background);
}