body
{
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{

    margin: 0em;
}

button{
    border: 0;
}

.base-container
{
    height: 100vh;
    width: 100vw;

    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: var(--default-text); /* default text color */
}

nav
{
    /* appearance */
    width: 5em;
    height: 100vh;
    background: var(--basic) 0% 0% no-repeat padding-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-buttons
{
    display: flex;
    flex-direction: column;
}

nav button
{
    /* appearance */
    width: 5rem;
    height: 5rem;
    background-color: rgba(0,0,0,0);
    border-radius: 0 1vw 1vw 0;
}

#active-tab
{
    background-color: var(--input-bg);
    color: var(--basic);
}

nav i
{
    color: var(--button-icon);
    font-size: 3rem;
}

main
{
    /* appearance */
    height: 100vh;
    flex-grow: 5;
    box-sizing: border-box;
    background: var(--input-bg) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 10vw;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}