

aside
{
    /* appearance */
    height: 100vh;
    width: 25vw;
    background: var(--basic) 0% 0% no-repeat padding-box;
    box-sizing: border-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    overflow: auto;

}

.user-profile
{
    /* appearance */
    height: 3em;
    margin: 1em;
    margin-bottom: 0;
    
    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.user-profile>img
{
    /* appearance */
    border-radius: 50%;
    height: 3em;
    width: 3em;
    object-fit: cover;
}

.user-profile>h2
{
    color: var(--default-text);
    text-align: left;
    font: normal normal bold 1.5em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

aside>h3
{
    color: var(--default-text);
    text-align: left;
    font: normal normal normal 1.2em Gill Sans Nova;
    letter-spacing: 0px;
    margin: 0em 1em;
    opacity: 1;
}

.annoucement
{
    background: var(--alt-input-bg) 0% 0% no-repeat padding-box;
    border-radius: 0px 2em 2em 0px;
    opacity: 1;
    margin: 0 1em 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    padding: 0.5em;
    
}

.annoucement img
{
    width: 4.4em;
    height: 3.3em;
    border-radius: 0.5em;
    object-fit: cover;
}

.annoucement div /* title of annoucement */
{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;

}

.annoucement i{
    margin: 0;
    width: 0.5em;
    height: 0.5em;
}

.annoucement h4
{
    margin: 0;
    color: var(--default-text);
    text-align: left;
    font: normal normal normal 1.2em Gill Sans Nova;
    letter-spacing: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    white-space: nowrap;
}

.annoucement>div>h4 /* title */
{
    margin: 0;
    color: var(--button-text);
}

.annoucement p{
    margin: 0;
    color: var(--button-text);
    text-align: left;
    font: italic normal normal 1em/1em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    white-space: nowrap;
}

.active-ann{
    background: var(--input-bg) 0% 0% no-repeat padding-box;
    /*border-radius: 0;
    margin: 0;*/ /*makes sense only for left-sided scrollbar which is not well supported */
    margin: 0 1em 0 0;
    opacity: 1;
}

/* OPTIONS ABOVE OR BELOW EDIT BOX */
header{
    /* appearance */
    height: 2.5em;
    flex-grow: 5;
    box-sizing: border-box;
    background: var(--alt-input-bg) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0;

    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header button{
    height: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0 0.5em;

    /* appearance */
    color: var(--button-text);
    background-color: rgba(0,0,0,0);
    text-align: left;
    font: normal normal normal 24px/42px Gill Sans Nova;
    letter-spacing: 0px;

    border-right: 1px ridge var(--button-text);
}

/* ANNOUCEMENT EDIT BOX */

main>div
{
    /* appearance */
    height: 100vh;
    flex-grow: 5;
    box-sizing: border-box;
    background: var(--input-bg) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0.5em 1em 0.5em 0;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}


.property{
    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

/*div for title and other content*/
.property>div{ 
    background: var(--form-background) 0% 0% no-repeat padding-box;
    border-radius: 1em;
    opacity: 1;

    /* flex-grow: 1; */

    padding: 1em;
    margin: 0.3em 1em;
}

.property>button{
    background: var(--basic) 0% 0% no-repeat padding-box;
    border-radius: 0.5em;
    opacity: 1;

    /* flex-grow: 100; */

    color: var(--form-background);
    font-size: 1.5rem;

    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    /* flex-basis: 3em; */
}

.property>button>p{
    display: none;
    color: var(--button-icon);
}

.property h1 {
    color: var(--button-text);
    text-align: left;
    font: normal normal normal 2.5em/1em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;
}

.property h3
{
    color: var(--button-text);
    text-align: left;
    font: normal normal normal 1.5em/1.5em Gill Sans Nova;
    margin: 0.5em 0 0.75em 0;
    letter-spacing: 0px;
    opacity: 1;
    
    display: inline;
}

.property>div>p
{
    color: var(--button-text);
    text-align: left;
    font: normal normal 300 1.2em/1.2em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;
}

/*photos div*/
.property>div>div
{
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
    gap: 0.5em;
}

.property>div>div>img{
    max-width: 16.66em;
    height: 12.5em;

    border-radius: 1em;

    object-fit: cover;
}

.property>div>div>button{
    
    border-radius: 1rem;
    width: 12.5rem;
    height: 12.5rem;

    background: var(--basic) 0% 0% no-repeat padding-box;
    /*padding: 3rem;*/

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.property>div>div>button>i{
    color: var(--button-icon);
    font-size: 4.5rem;
} 

.property select{
    width: 100%;
    height: 3em;

    background: var(--alt-input-bg) 0% 0% no-repeat padding-box;
    border: 1px solid var(--button-text);
    border-radius: 1em;
    opacity: 1;
    padding: 0.5em;
}