body
{
    padding: 0;
    margin: 0;
}

.base-container
{
    height: 100wh;

    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav
{
    /* appearance */
    width: 5em;
    height: 100vh;
    background: var(--basic) 0% 0% no-repeat padding-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-buttons
{
    display: flex;
    flex-direction: column;
}

button
{
    /* appearance */
    width: 5rem;
    height: 5rem;
    border: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 0 1vw 1vw 0;
}

#active-tab
{
    background-color: var(--input-bg);
    color: var(--basic);
}

nav i
{
    color: var(--button-icon);
    font-size: 3rem;
}

main
{
    /* appearance */
    height: 100vh;
    flex-grow: 5;
    background: var(--input-bg);
}

aside
{
    /* appearance */
    height: 100vh;
    flex-grow: 1;
    background: var(--basic) 0% 0% no-repeat padding-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}