body
{
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{

    margin: 0em;
}

.base-container
{
    height: 100wh;

    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: var(--default-text); /* default text color */
}

nav
{
    /* appearance */
    height: 100wh;
    width: 5em;
    height: 100vh;
    background: var(--basic) 0% 0% no-repeat padding-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-buttons
{
    display: flex;
    flex-direction: column;
}

button
{
    /* appearance */
    width: 5rem;
    height: 5rem;
    border: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 0 1vw 1vw 0;
}

#active-tab
{
    background-color: var(--input-bg);
    color: var(--basic);
}

nav i
{
    color: var(--button-icon);
    font-size: 3rem;
}

main
{
    /* appearance */
    height: 100vh;
    flex-grow: 5;
    background: var(--input-bg);
    box-sizing: border-box;
}

aside
{
    /* appearance */
    height: 100vh;
    width: 25vw;
    background: var(--basic) 0% 0% no-repeat padding-box;
    box-sizing: border-box;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    overflow: auto;

}

.user-profile
{
    /* appearance */
    height: 3em;
    margin: 1em;
    margin-bottom: 0;
    
    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.user-profile>img
{
    /* appearance */
    border-radius: 50%;
    height: 3em;
    width: 3em;
    object-fit: cover;
}

.user-profile>h2
{
    color: var(--default-text);
    text-align: left;
    font: normal normal bold 1.5em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

aside>h3
{
    color: var(--default-text);
    text-align: left;
    font: normal normal normal 1.2em Gill Sans Nova;
    letter-spacing: 0px;
    margin: 0em 1em;
    opacity: 1;
}

.annoucement
{
    background: var(--alt-input-bg) 0% 0% no-repeat padding-box;
    border-radius: 0px 2em 2em 0px;
    opacity: 1;
    margin: 0 1em 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    padding: 0.5em;
    
}

.annoucement img
{
    width: 6.5em;
    height: 3.3em;
    border-radius: 0.5em;
    object-fit: cover;
}

.annoucement div /* title of annoucement */
{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;

}

.annoucement i{
    margin: 0;
    width: 0.5em;
    height: 0.5em;
}

.annoucement h4
{
    margin: 0;
    color: var(--default-text);
    text-align: left;
    font: normal normal normal 1.2em Gill Sans Nova;
    letter-spacing: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    white-space: nowrap;
}

.annoucement>div>h4 /* title */
{
    margin: 0;
    color: var(--button-text);
}

.annoucement p{
    margin: 0;
    color: var(--button-text);
    text-align: left;
    font: italic normal normal 1em/1em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    white-space: nowrap;
}

.active-ann{
    background: var(--input-bg) 0% 0% no-repeat padding-box;
    /*border-radius: 0;
    margin: 0;*/ /*makes sense only for left-sided scrollbar which is not well supported */
    margin: 0 1em 0 0;
    opacity: 1;
}

main{
    /* appearance */
    background: var(--input-bg) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 10vw;
    padding: 1em;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.property{
    /* content positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start safe;
    align-items: center;
}

.property>div{
    background: var(--form-background) 0% 0% no-repeat padding-box;
    border-radius: 1em;
    opacity: 1;

    /* flex-grow: 1; */

    padding: 1em;
    margin: 0.3em 1em;
}

.property>button{
    background: var(--basic) 0% 0% no-repeat padding-box;
    border-radius: 0.5em;
    opacity: 1;

    /* flex-grow: 100; */

    color: var(--form-background);
    font-size: 1.5rem;

    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    /* flex-basis: 3em; */


}

.property h1 {
    color: var(--button-text);
    text-align: left;
    font: normal normal normal 2.5em/1em Gill Sans Nova;
    letter-spacing: 0px;
    opacity: 1;
}

.property h3
{
    color: var(--button-text);
    text-align: left;
    font: normal normal normal 1.5em/0em Gill Sans Nova;
    margin: 0.5em 0 0.75em 0;
    letter-spacing: 0px;
    opacity: 1;
}

.property>div>div
{
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
}

.property>div>div>img{
    width: 16.75em;
    height: 12.5em;

    border-radius: 1em;

    object-fit: cover;
}

.property>div>div>button{
    width: 16.75rem; /*for some reason em is different for buttons (much bigger)*/
    height: 12.5rem;

    border-radius: 1rem;

    background: var(--basic) 0% 0% no-repeat padding-box;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing:unset;
}

.property>div>div>button>i{
    color: var(--button-icon);
    font-size: 4.5rem;
} 

.property select{
    width: 22.5em;
    height: 3em;

    background: var(--alt-input-bg) 0% 0% no-repeat padding-box;
    border: 1px solid var(--button-text);
    border-radius: 1em;
    opacity: 1;
    padding: 0.5em;
}



