/* Narrow desktop window */
@media screen and (max-width: 635px)
{
    header button{
        height: 4rem;
        min-width: 4rem;
    }

    header button:first-child{
        display: flex;
    }

    main>form {
        /* content positioning */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: auto;
        min-width: 8em;
    }

    /*div for title and other content*/
    main>form>div{
        background: var(--form-background) 0% 0% no-repeat padding-box;
        border-radius: 1em;
        opacity: 1;
        width: auto;
        padding: 1em;
    }

    main>form>button{
        
        width: auto;
        margin: 0.3rem 1rem 1em 1rem;
        font-size: 1.5rem;
    }

    main>form>button>p{
        display: inline;

    }

    /*photos div*/
    main>form>div>div
    {
        display: flex;
        flex-flow: column;
        justify-content: stretch;
        align-items: center;
        gap: 0.5em;
    }

    main>form>div>div>img{
        width: auto;
        height: auto;
        max-width: 100%;
    
        border-radius: 1em;
    
        object-fit: cover;
    }

    main>form>div>div>button{
    
        border-radius: 1rem;
        max-width: none;
        max-height: none;
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
    }
}
