* {
    color:rgb(0, 90, 0)
}

:root {
    --main-bg-color: rgb(0, 90, 0);
}
  

body, h1{
    margin: 0
}

.logo{
    background-color: rgb(78, 248, 78);
   
}

.login-form{
    background-color: lightgreen;
}

.login-form, .logo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

@media screen and (max-device-width: 414px),
screen and (max-width: 411px)
{
    body {
        flex-direction: column;
    }

    .logo{
        height: 20vh;
    }

    .login-form{
        height: 80vh;
    }
}